.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar ul li {
    padding: 5px 19px;
}
.activityOveriew {
    border: 1px solid #e3e3e3;
    padding: 0px;
}
.aoHead {
    border-bottom: 1px solid #e3e3e3;
    padding: 5px 10px;
}
.fooStyle {
    border:1px solid #e3e3e3;
    padding: 15px;
}
@media only screen and (min-width:768px) {
    .categoriesBtn {
        background: #000;
    }
}
.nav-sidebar li {
    display: block;
    width: 100%;
    margin: .2 em 0;
}

.card-deck{
    width: 170%;
    margin-top: 3.0em;
    margin-left: -90px;
}

.card-img-top{
    width: 12%;
    margin-left: 1.5em;
    margin-top: 1.5em;
    display:inline-block
}

.card-title{
    display: inline-block;
}

.h5{
    display: inline-block;
}


